body {

 background-color:#ffccff
 background-color:#ffccff

}
a {
  color: rgb(99, 10, 110);
  font-size: 30px;
  font-size: 50px;

}
h1 {
  color: #8d528d;
  font-size: 50px
}
img {
  position:absolute;
  top: 110px;
  left: 630px;
  width:auto;
  height:100px;
}